<footer>
  <div class="footer-line">Blog by Uzair - @2015</div>
  
  <div id="followMeBtns">
    <!-- Twitter Follow me button -->
    <span class="follow-me">
      <a href="https://twitter.com/uzairfaruq" class="twitter-follow-button" data-show-count="false">Follow @uzairfaruq</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </span>
  
    <!-- Github Follow me button -->  
    <span  class="follow-me github">
      <iframe src="https://ghbtns.com/github-btn.html?user=uzairfarooq&type=follow&size=small" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
    </span>
  </div>
  
</footer>
