/*- Custom style -*/

// -- Put custom style under this point -- //
.footer-line {
  margin-bottom: 12px;
}

.follow-me {
  vertical-align: top;
  display: inline-block;
}
.follow-me.github {
  width: 142px;
}
.follow-me:not(:first-child) {
  margin-left: 16px;
}
